* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.fullPage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d6e2e9;
}
.fullPage .checkWifi {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  border-top: 3px solid red;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 10px;
  margin-top: -25%;
  visibility: hidden;
  transition: all 0.7s ease;
  position: absolute;
  top: 10px;
}
.fullPage .checkWifi .show {
  margin-top: 0px;
  visibility: visible;
}
.fullPage .checkWifi .wifiIcon {
  background-color: red;
  color: white;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
}
.fullPage .checkWifi .checkContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.fullPage .checkWifi .checkContent h3 {
  font-size: 20px;
}
.fullPage .checkWifi .checkContent p {
  font-size: 14px;
  color: #666;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.fullPage .checkWifi .checkContent button {
  width: 100px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  border-radius: 7px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.fullPage .checkWifi .checkContent button:active {
  transform: scale(0.95);
}
.fullPage .checkWifi .checkContent button:hover {
  opacity: 0.8;
}
.fullPage .dicApp {
  width: 400px;
  background-color: #fff;
  padding: 25px 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  border-radius: 15px;
}
.fullPage .dicApp h2 {
  color: rgb(7, 181, 82);
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: upperCase;
}
.fullPage .dicApp .appInput {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
.fullPage .dicApp .appInput input {
  padding: 10px 13px;
  border: 1px solid green;
  outline: none;
  border-radius: 25px;
  background-color: #f3f1fc;
  font-size: 15px;
  width: 100%;
  height: 45px;
  color: black;
  font-weight: 600;
}
.fullPage .dicApp .appInput input::-moz-placeholder {
  color: black;
  font-weight: 600;
}
.fullPage .dicApp .appInput input::placeholder {
  color: black;
  font-weight: 600;
}
.fullPage .dicApp .appInput .searchBtn {
  cursor: pointer;
  height: 45px;
  width: 45px;
  background-color: rgb(7, 181, 82);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -45px;
}
.fullPage .dicApp .data {
  width: 100%;
  overflow-y: scroll;
  max-height: 200px;
  display: flex;
  flex-direction: column;
}
.fullPage .dicApp .data li {
  list-style: none;
}
.fullPage .dicApp .data::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}
.fullPage .dicApp .data::-webkit-scrollbar-thumb {
  background: rgb(7, 181, 82);
  border-radius: 10px;
}
.fullPage .dicApp .data::-webkit-scrollbar-thumb:hover {
  background-color: #008c72;
}
.fullPage .dicApp .data #pressEnterWord {
  color: rgb(7, 181, 82);
  font-size: 16px;
  text-transform: capitalize;
}
.fullPage .dicApp .data #errorWord {
  color: red;
  font-size: 17px;
  text-transform: capitalize;
}
.fullPage .dicApp .data #errorWord span {
  color: rgb(7, 181, 82);
  font-weight: bold;
}
.fullPage .dicApp .data #readMore {
  cursor: pointer;
  background-color: rgb(7, 181, 82);
  color: white;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 15px;
  transition: all 0.3s ease;
  text-decoration: none;
}
.fullPage .dicApp .data #readMore:active {
  transform: scale(0.95);
}
.fullPage .dicApp .data #readMore:hover {
  opacity: 0.8;
}
.fullPage .dicApp .data .readBtnLi {
  margin-top: 15px;
}
.fullPage .dicApp .data .details {
  height: auto;
  width: 100%;
  padding: 10px;
  background-color: #f3f3fd;
  border-radius: 10px;
  border: 1px solid rgba(0, 188, 98, 0.1882352941);
  margin: 5px 0;
  position: relative;
}
.fullPage .dicApp .data .details .soundAndWord {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fullPage .dicApp .data .details .soundAndWord i {
  color: rgb(7, 181, 82);
  cursor: pointer;
}
.fullPage .dicApp .data .details h3 {
  color: rgb(7, 181, 82);
}
.fullPage .dicApp .data .details p {
  font-size: 12px;
  margin: 4px 0;
}/*# sourceMappingURL=main.css.map */